<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="openApiAddress" value="http://openapi.lctest.cn:6001/public/v1"/>
    <add key="openApiSecret" value="[请问领健索取票据]"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>